@model List<SmartPhoneStore.ViewModels.Catalog.Categories.CategoryViewModel>

<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="">Danh mục</a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.Where(x => x.ParentId == null);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
                <li class="subMenu open">
                    <a> @parent.Name</a>
                    <ul>
                        @foreach (var item in children)
                        {
                            <li><a class="active" href="/categories/@item.Id"><i class="icon-chevron-right"></i>@item.Name </a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/categories/@parent.Id">@parent.Name</a></li>
            }
        }

    </ul>
    <br />
</div>